# History files
.Rhistory
.Rapp.history

# Large data files
*data/

# Stan outputs
*code/PM1_DataOutput.rds
*code/PM2_DataOutput.rds
*code/PM3_DataOutput.rds
*code/simPM1_DataOutput.rds
*code/simPM2_DataOutput.rds
*code/simPM3_DataOutput.rds
*code/PM2_l_1to5.rds
*code/PM2_l_6to10.rds
*code/PM.Ricker_l_1to5.rds
*code/PM.Ricker_l_6to10.rds
*code/PM.AR_l_1to5.rds
*code/PM.AR_l_6to10.rds
*code/stan_model_output_AR.rds
*code/stan_model_output_Logistic.rds
*code/stan_model_output_Ricker.rds
*code/stan_model_output_Ricker_Ladj.rds
*code/stan_model_output_Gompertz.rds
*code/Sim_matrix_Logistic.rds
*code/Sim_matrix_AR.rds
*code/Sim_matrix_Ricker.rds
*code/Sim_matrix_Ricker_lightadj.rds
*code/Sim_matrix_Gompertz.rds
*code/PM.Ricker_ParRecov_l_1to5.rds
*code/PM.Ricker_ParRecov_l_6to10.rds
*code/Ricker_simGPP_10rivers.rds
*code/RMSE_matrix_AR.rds
*code/RMSE_matrix_Gompertz.rds
*code/RMSE_matrix_Logistic.rds
*code/RMSE_matrix_Ricker.rds
*code/RMSE_matrix_Ricker_lightadj.rds




# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user
